.na-note-form-date-input {
    border-radius: 5px;
}


.react-datepicker__header {
    background-color: transparent !important;
    font-weight: 600 !important;
    border: transparent !important;
    font-family: system-ui !important
}

.react-datepicker__day {
    color: #ECEDEE !important;
    font-weight: 600 !important;
    font-family: system-ui !important

}

.react-datepicker {
    border-radius: 5% !important;
    background-color: transparent !important;
}

.react-datepicker__current-month {
    color: #ECEDEE !important;
    font-weight: 100 !important;
}

.react-datepicker__day-name {
    color: #ECEDEE !important;
    font-weight: 100 !important;
}


.react-datepicker__day.react-datepicker__day--keyboard-selected {
    border: none;
    border-radius: 7px;
    background-color: #9353d3 !important;
}


.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
    border-radius: 0.3rem !important;
    background-color: #f5a524 !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color: #9353d3 !important;
    color: #fff;
}  